[user]
	email = yifanzhang@hotmail.ca
	name = Yifan Zhang
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	autocrlf = input
	pager = less -+XF
[alias]
        dag = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
