[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-dracula"]
	path = .vim/bundle/vim-dracula
	url = https://github.com/crusoexia/vim-dracula
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/cscope_maps"]
	path = .vim/bundle/cscope_maps
	url = https://github.com/chazy/cscope_maps
