[user]
    email = yifan.zhang@akunacapital.com
    name = Yifan Zhang
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/bin/vim
    autocrlf = input
    pager = less -+XF
[alias]
    dag = log --graph --oneline --decorate --branches
    co = checkout
    br = branch
    ci = commit
    st = status
    ri = rebase --interactive
    unstage = reset HEAD --
[http]
    sslverify = true
[rebase]
    instructionFormat = (%an) %s
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
